<div class="swiper project-gallery-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <a href="assets/images/projects/flutter/chef-starz.svg" class="lightbox-trigger" data-title="Chef Starz - Live App Screen" data-gallery="chef-starz">
        <img src="assets/images/projects/flutter/chef-starz.svg" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg';" alt="Chef Starz App Screenshot" class="card-img-top w-100 object-fit-contain" loading="lazy">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="assets/images/projects/flutter/worker-hiring.svg" class="lightbox-trigger" data-title="Worker Hiring - App Overview" data-gallery="chef-starz">
        <img src="assets/images/projects/flutter/worker-hiring.svg" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg';" alt="Worker Hiring App Screenshot" class="card-img-top w-100 object-fit-contain" loading="lazy">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="assets/images/projects/flutter/artisan.svg" class="lightbox-trigger" data-title="Artisan - Business Management App" data-gallery="chef-starz">
        <img src="assets/images/projects/flutter/artisan.svg" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg';" alt="Artisan Business Management App" class="card-img-top w-100 object-fit-contain" loading="lazy">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="assets/images/projects-wireframe.jpg" class="lightbox-trigger" data-title="Chef Starz - UI Wireframe" data-gallery="chef-starz">
        <img src="assets/images/projects-wireframe.jpg" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg';" alt="Chef Starz UI Wireframe Screenshot" class="card-img-top w-100 object-fit-contain" loading="lazy">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="assets/images/skills-coding_Ahosan Habib.jpeg" class="lightbox-trigger" data-title="Chef Starz - Development Workstation" data-gallery="chef-starz">
        <img src="assets/images/skills-coding_Ahosan Habib.jpeg" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg';" alt="Chef Starz Development Workstation" class="card-img-top w-100 object-fit-contain" loading="lazy">
      </a>
    </div>
    <div class="swiper-slide">
      <a href="assets/images/experience-teamAhosan.png" class="lightbox-trigger" data-title="Sparktech Agency - Team Collaboration" data-gallery="chef-starz">
        <img src="assets/images/experience-teamAhosan.png" onerror="this.onerror=null;this.src='assets/images/placeholder.jpg';" alt="Sparktech Agency Team Collaboration" class="card-img-top w-100 object-fit-contain" loading="lazy">
      </a>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next text-white"></div>
  <div class="swiper-button-prev text-white"></div>
</div>
